<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IRC Log</title>
  </head>

  <body>
    <form action="/irc/logs">
      <input type="text" name="date" placeholder="DD/MM/YYYY" />
      <input type="submit" value="Check" />
    </form>
    
    <div id="result">
      <p> <% exampleRenderEjs.forEach((item)=>{%> 
        <%= item %>
      <% })%>
    </div>
  </body>
</html>
